**/node_modules
**/__pycache__
**/.vscode/
**/.venv
.git
**/docs/
**/.pytest_cache
**/.gitignore
/local_files/**
/db/
**/.coverage
/.dockerignore
/DockerDevDeploy.md
/Dockerfile
/aws-deploy.sh
/docker-compose.yaml
/temp_buffer_docs
