@import "~@coreui/coreui/scss/coreui";

$theme-colors: (
  "fox-base": #8a0707,
  "fox-dark": #610505,
  "fox-light": #ae0909,
  "fox-pale": #feecec,
);

.project-table-toggle {
  padding: 0 0 0 5px;
}

.c-icon.table-dropdown-icon {
  margin: 0;
}

.foxtable-dropdown-menu {
  z-index: 1100;
}

.dropdown-item {
  z-index: 11100;
}

.form-control {
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  /* IE 10+ */
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.pagination > li:first-child {
  border-radius: 1.5rem 0 0 1.5rem;
}

.card {
  border-radius: 1.5rem;
}

.card-header {
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-footer {
  border-radius: 0 0 1.5rem 1.5rem;
}

.card-footer:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
}

.card-header:first-child {
  border-radius: 1.5rem 1.5rem 0 0;
}

.c-sidebar {
  background: #f2f2f3;
}

.c-sidebar .c-sidebar-brand {
  background: #de0048;
}

.c-sidebar .c-sidebar-nav-title {
  color: #a9a9a9;
}

// .c-sidebar .c-sidebar-nav-icon {
//   color: #000000;
// }

.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: #a9a9a9;
}

.c-sidebar .c-subheader-minimized .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #a9a9a9;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #a9a9a9;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #f2f2f3;
  background: #de0048;
}

.c-header {
  background-image: linear-gradient(
    to right,
    #de0048,
    #fe1c66,
    #fc3652,
    #fa5d36
  );
}

.c-subheader {
  // background: theme-color("fox-light");
  border-top: 1px solid rgba(0, 0, 21, 0.5);
}

.c-header .c-header-nav .c-header-nav-link,
.c-header .c-header-nav .c-header-nav-item,
.c-header .c-header-nav .c-header-nav-btn {
  color: theme-color("fox-pale");
}

.login-right {
  height: 100vh;
  background-color: theme-color("fox-base");
}

.input-group-text {
  background-color: #fff;
  border-radius: 2rem;
}

.fox-input-before {
  border-right-style: none;
}

.fox-input-before-invalid {
  border-color: #e55353;
  border-right-style: none;
}

.fox-input-after {
  border-left-style: none;
}

.fox-input-after-invalid {
  border-color: #e55353;
  border-left-style: none;
}

html:not([dir="rtl"]) .input-group > .form-control:not(:first-child),
html:not([dir="rtl"]) .input-group > .custom-select:not(:first-child) {
  border-left-style: none;
}

html:not([dir="rtl"]) .input-group > .form-control:not(:last-child),
html:not([dir="rtl"]) .input-group > .custom-select:not(:last-child) {
  border-left-style: none;
  border-right-style: none;
}

html:not([dir="rtl"]) .c-sidebar-nav-icon:first-child {
  color: darkgrey;
}

.fox-form-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e15353;
  white-space:pre-wrap;
}

.fox-login-welcome {
  text-align: center;
}

.c-sidebar-nav-link:hover {
  color: black;
}

$sidebar-nav-link-hover-color: $white !default;
$sidebar-nav-link-hover-bg: theme-color("primary") !default;
$sidebar-nav-link-hover-icon-color: $white !default;

html:not([dir="rtl"]) .page-item:first-child .page-link {
  border-radius: 1.5rem 0 0 1.5rem;
}

html:not([dir="rtl"]) .page-item:last-child .page-link {
  border-radius: 0 1.5rem 1.5rem 0;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #de0048;
  border-color: #de0048;
}

.custom-file-label {
  border-radius: 1.5rem;
}
.custom-file-label::after {
  border-radius: 0 1.5rem 1.5rem 0;
}

.document-card {
  height: 150px;
}

.document-card-text {
  text-align: center;
}

.ptw-signatures {
  font-size: 1.3rem;
  font-style: italic;
}

.card {
  z-index: 5;
}

html:not([dir="rtl"]) .fox-table-checkbox {
  position: relative;
  margin: 0;
}

.fox-activity_log:first-child {
  border-radius: 1.5rem 1.5rem 0 0;
}

.fox-activity_log-hidden:first-child {
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filled-ptw__hazardous-works {
  white-space: pre-wrap;
}

#contractor__image-form-group {
  position: relative;
}
