<html>
  <body>
    <div>
      <p>Dear <b>{{ username }}</b>,</p>
      <p>
        I am Sara and I am sending you this email because you requested a
        password reset.
      </p>
      <p>Click on this button below to create a new password.</p>
      <a href="{{reset_password_url}}"
        ><button
          style="
            margin: 1em;
            border: 0;
            font-size: 1.1em;
            background-color: #c62828;
            color: white;
            padding: 0.6em 2em;
            border-radius: 8px;
          "
        >
          Create a new password
        </button></a
      >
      <p>
        Alternatively, you can also click on this link to create a new password.
        Link url {{reset_password_url}}
      </p>
      <p>Cheers,<br />Sara</p>
    </div>
  </body>
</html>
