<html>

<body>
  <div>
        <p>Dear <b>{{ username }}</b>,</p>
        <p>I am Sara and I am happy to assist you.</p>
        <p>I want to let you know that I have received your request and will get back to you with a (human) response as soon as possible. During our business hours (9:00am until 5:00pm) that is usually within a couple of hours. Evenings and weekends may take us a little bit longer.</p> 
        <p>If you have general questions about FOX, check out our website <a href="https://infinityfm.my/">www.infinityfm.my</a> for walkthroughs and answers to FAQs.</p>
        <p>If you have any additional information that you think will help us to assist you, please feel free to reply to this email.</p>
        <p>We look forward to assisting you soon!</p>
        <p>Cheers,<br>Sara</p>
  </div>
</body>

</html>
