<html>

<body>
  <div>
        <p>Dear <b>{{ username }}</b>,</p>
        <p>I am Sara and thank you for your enquiry about FOX.</p>
        <p>We are looking forward to discussing your requirements. One of our experts will contact you shortly for an informal chat about your requirements on the number you have provided.</p>
        <p>The expert will also send an email personally to you to provide you with more information about FOX. To ensure that the expert best understand your requirements, it would be great if you are able to tell us the following:</p>
        <p><em>
            What is your current pain point?<br>
            Which modules that we offer that you are interested with?<br>
            What is the estimated number of staff/users/contractors that will be administered on the system?<br>
        </em></p>
        <p>Thank you.</p>
        <p>We look forward to assisting you.</p>
        <p>Cheers,<br>Sara</p>
  </div>
</body>

</html>
